<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/items/new?category=<%= item.category %>&update=<%= item.name %>">update</a>
   
   <div>
    <section><%= item.name %></section>
    <section><%= item.added_on %></section>
    <section><%= item.discription %></section>
    <section><%= item.category %></section>
   </div> 

   <a href="<%= goBackTo %>">go back</a>
</body>
</html>