<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- <img src="<%= item.image %>" alt=""> -->
   <div>
    <section><%= item.name %></section>
    <section><%= item.added_on %></section>
    <section><%= item.discription %></section>
   </div> 

   <a href="<%= goBackTo %>">go back</a>
</body>
</html>