<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= locals.catogory %> Items</h1>
    <a href="/items/new?catogory=<%= locals.catogory %>">add new item</a>
    <div>
        <% items.forEach(item => { %>
            <div>
                <!-- <img src="<%= item.image %>" alt=""> -->
                <p><a href="/<%= item.catogory %>/<%= item.name %>"><%= item.name %></a></p>

                <% if (!locals.catogory) { %>
                    <p><%=item.catogory%></p>
                    
                <% } %>
            </div>
        <% }) %>
    </div>  
    <a href="/">go back to index</a>
</body>
</html>