<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= locals.category %> Items</h1>
    <% if (locals.category) { %>
        <a href="/category/new?update=<%= locals.category %>">update</a>
    <% } %>
    <a href="/items/new?category=<%= locals.category %>">add new item</a>
    <div>
        <% items.forEach(item => { %>
            <div>
               <% if (calledFrom=='items') { %>
                    <p><a href="items/<%= item.name %>"><%= item.name %></a></p>

               <% } else { %>
                    <p><a href="category/<%= calledFrom %>/<%= item.name %>"><%= item.name %></a></p>

               <% } %> 
                <% if (!locals.category) { %>
                    <p><%=item.category%></p>
                    
                <% } %>
                <a href="/items/delete?item=<%= item.name %>">delete</a>
            </div>
        <% }) %>
    </div>  
    <% if (calledFrom=='items') { %>
        <a href="/">go back to index</a>

    <% } else { %>
        
        <a href="/category">go back to categories </a>
    <% } %>
</body>
</html>