<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
   <div>
    <% if (locals.errors) { %>
        <ul>
           <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
           <% }) %>
        </ul>
    <% } %>
   </div> 
    <form action="<%= action %>" method="post" >
        <% categories.forEach(category => { %>
            <label for="<%= category %>"><%= category %></label>
            <% if (locals.update) { %>
                <%- getTag(category,locals.update[category]) %>
            <% } else { %>
                <%- getTag(category,"") %>
             
            <% } %>
        <% }) %>
        <button type="submit">submit</button>
    </form>

    <a href="<%= backUrl %>">go back</a>
    
</body>
</html>