<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>

    <% if (locals.errors) { %>
        <ul>
           <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
           <% }) %>
        </ul>
    <% } %>
    <form action="<%= action %>" method="post" >
        <% items.forEach(item => { %>
            <label for="<%= item %>"><%= item %></label>
            <% if (locals.update) { %>
                <%- getTag(item,locals.update[item]) %>
            <% } else { %>
                <%- getTag(item,"") %>
             
            <% } %>
        <% }) %>

        <% if (locals.categories) { %>
            <select name="category" id="category">
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                <% }) %>
            </select>
        <% } %>

        <button type="submit">submit</button>
    </form>

    <a href="<%= backUrl %>">go back</a>

</body>
</html>