<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <form action="/items?category=<%= category %>" method="post" enctype="multipart/form-data">
        <% items.forEach(item => { %>
            <label for="<%= item %>"><%= item %></label>
            <%- getTag(item) %>
        <% }) %>

        <% if (locals.catogories) { %>
            <select name="catogory" id="catogory">
                <% catogories.forEach(catogory => { %>
                    <option value="<%= catogory.id %>"><%= catogory.name %></option>
                <% }) %>
            </select>
        <% } %>

        <button type="submit">submit</button>
    </form>

    <a href="/items">go back</a>

</body>
</html>