<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/item" method="post">
        <% items.forEach(item => { %>
            <label for="<%= item %>"><%= item %></label>
            <%- getTag(item) %>
        <% }) %>
        <button type="submit">submit</button>
    </form>

    <% if (locals.catogories) { %>
        <select name="catogory" id="catogory">
            <% catogories.forEach(catogory => { %>
                <option value="<%= catogory %>"><%= catogory %></option>
            <% }) %>
        </select>
    <% } %>
</body>
</html>